<nb-layout>

  <nb-layout-header fixed>
  <!-- Insert header here -->
  </nb-layout-header>

  <nb-layout-column>

      <!-- Footer -->
      <footer>
            <div>
              <nb-card-body>
                
              </nb-card-body>

              <div class="logo-chat">
                <img src="../assets/message.png" alt="message">
              </div>
            </div>

            <div class="card-row">
              <div class="card-col">
              </div>
           
              <div class="dialog" >
                <!-- <nb-card size="giant" [size]="'medium'">
                  <nb-card-header>Giant cardsdfuuiodfuiodf</nb-card-header>
                  <nb-card-body> -->
                      <nb-chat title="Nebular Conversational UI" size="large" status="success">
                        <nb-chat-message *ngFor="let msg of messages"
                                        [type]="msg.type"
                                        [message]="msg.text"
                                        [reply]="msg.reply"
                                        [sender]="msg.user.name"
                                        [date]="msg.date"
                                        [files]="msg.files"
                                        [quote]="msg.quote"
                                        [latitude]="msg.latitude"
                                        [longitude]="msg.longitude"
                                        [avatar]="msg.user.avatar">
                        </nb-chat-message>
                        <nb-chat-form (send)="sendMessage($event)" [dropFiles]="true"> 
                          <p>sdushs</p>
                        </nb-chat-form>
                      </nb-chat>
     
                  <!-- </nb-card-body>
                </nb-card> -->
              </div>
            </div>
      </footer>
    
    
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>